<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-tittle">Listado de clientes</h5>
    <div class="table-responsive">
    <a class="btn btn-link" routerLink="/clientes/form">Crear Cliente</a>
    <table class="table">
      <thead class="thead-dark">
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>
            <div class="btn-group">
              <button type="button" name="btnEditar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary"><fa-icon [icon]="faEdit"></fa-icon></button>
              <button type="button" name="btnEliminar" class="btn btn-danger" (click)="delete(cliente)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
            </div>
            </td>
        </tr>

      </tbody>
    </table>
  </div>
  </div>
</div>
